body{
background-color: white;

}
header  {
    margin-top : -20px;
    
    height: 100px;
    margin-right: -12px;
    margin-left: -10px;

} 
.H-F a{
  text-decoration: none;
}

.H-f .navbar{
    height: 200px;
    box-shadow: gray 1px 2px;
}
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
   
  }
  .navbar a{
    padding: 20px 60px;
  }
  .login{
    float: right;
    margin:30px;
   
  }
  .login select{
    padding: 10px 40px;
    margin: 5px;
  }
  .mid-page{
    height: 600px;
  }
  
  footer{
    background-color: black;
    height: 400px;
    margin: -19px;
    bottom: 0px;
    display: block;
  }